<mat-toolbar>
  <h3>Current Course</h3>
  <div>This is the current course</div>
</mat-toolbar>
<div id="table-contain" class="table-container">
  <div class="table-container-heading">
    <span class='heading'></span>
    <ng-template ngFor let-item [ngForOf]="players">
          <div class="box heading">{{item.name}}</div>
      </ng-template>
  </div>
    <div class="scroll">
        <div class="box cell">1</div>
        <div class="box cell">2</div>
        <div class="box cell">3</div>
        <div class="box cell">4</div>
        <div class="box cell">5</div>
        <div class="box cell">6</div>
        <div class="box cell">7</div>
        <div class="box cell">8</div>
        <div class="box cell">9</div>
        <div class="heading box">OUT</div>
        <div class="box cell">10</div>
        <div class="box cell">11</div>
        <div class="box cell">12</div>
        <div class="box cell">13</div>
        <div class="box cell">14</div>
        <div class="box cell">15</div>
        <div class="box cell">16</div>
        <div class="box cell">17</div>
        <div class="box cell">18</div>
        <div class="heading box">IN</div>
        <div class="heading box">TOTAL</div>

      </div>
    <!-- <ng-template ngFor let-item [ngForOf]="players">
        <app-player [playerId]="item.id"></app-player>
    </ng-template> -->
</div>

<!-- <div class="row color-row">
  <div class="heading box"></div>
  <div class="box cell">1</div>
  <div class="box cell">2</div>
  <div class="box cell">3</div>
  <div class="box cell">4</div>
  <div class="box cell">5</div>
  <div class="box cell">6</div>
  <div class="box cell">7</div>
  <div class="box cell">8</div>
  <div class="box cell">9</div>
  <div class="heading box">OUT</div>
  <div class="box cell">10</div>
  <div class="box cell">11</div>
  <div class="box cell">12</div>
  <div class="box cell">13</div>
  <div class="box cell">14</div>
  <div class="box cell">15</div>
  <div class="box cell">16</div>
  <div class="box cell">17</div>
  <div class="box cell">18</div>
  <div class="heading box">IN</div>
  <div class="heading box">TOTAL</div>
</div> -->
