<mat-grid-list class='scroll' cols='24' rowHeight="93px">
  <mat-grid-tile class="box">
    <span *ngIf='apiCall.currentCourse$; else elseBlock'>{{apiCall.currentCourse$[0].teeBoxes[apiCall.currentTee$].par}}</span>
    <ng-template #elseBlock></ng-template>
  </mat-grid-tile>
  <mat-grid-tile class="box">
    <span *ngIf='apiCall.currentCourse$; else elseBlock'>{{apiCall.currentCourse$[1].teeBoxes[apiCall.currentTee$].par}}</span>
    <ng-template #elseBlock></ng-template>
  </mat-grid-tile>
  <mat-grid-tile class="box">
    <span *ngIf='apiCall.currentCourse$; else elseBlock'>{{apiCall.currentCourse$[2].teeBoxes[apiCall.currentTee$].par}}</span>
    <ng-template #elseBlock></ng-template>
  </mat-grid-tile>
  <mat-grid-tile class="box">
    <span *ngIf='apiCall.currentCourse$; else elseBlock'>{{apiCall.currentCourse$[3].teeBoxes[apiCall.currentTee$].par}}</span>
    <ng-template #elseBlock></ng-template>
  </mat-grid-tile>
  <mat-grid-tile class="box">
    <span *ngIf='apiCall.currentCourse$; else elseBlock'>{{apiCall.currentCourse$[4].teeBoxes[apiCall.currentTee$].par}}</span>
    <ng-template #elseBlock></ng-template>
  </mat-grid-tile>
  <mat-grid-tile class="box">
    <span *ngIf='apiCall.currentCourse$; else elseBlock'>{{apiCall.currentCourse$[5].teeBoxes[apiCall.currentTee$].par}}</span>
    <ng-template #elseBlock></ng-template>
  </mat-grid-tile>
  <mat-grid-tile class="box">
    <span *ngIf='apiCall.currentCourse$; else elseBlock'>{{apiCall.currentCourse$[6].teeBoxes[apiCall.currentTee$].par}}</span>
    <ng-template #elseBlock></ng-template>
  </mat-grid-tile>
  <mat-grid-tile class="box">
    <span *ngIf='apiCall.currentCourse$; else elseBlock'>{{apiCall.currentCourse$[7].teeBoxes[apiCall.currentTee$].par}}</span>
    <ng-template #elseBlock></ng-template>
  </mat-grid-tile>
  <mat-grid-tile class="box">
    <span *ngIf='apiCall.currentCourse$; else elseBlock'>{{apiCall.currentCourse$[8].teeBoxes[apiCall.currentTee$].par}}</span>
    <ng-template #elseBlock></ng-template>
  </mat-grid-tile>
  <mat-grid-tile colspan='2' class="box">Out</mat-grid-tile>
  <mat-grid-tile class="box">
    <span *ngIf='apiCall.currentCourse$; else elseBlock'>{{apiCall.currentCourse$[9].teeBoxes[apiCall.currentTee$].par}}</span>
    <ng-template #elseBlock></ng-template>
  </mat-grid-tile>
  <mat-grid-tile class="box">
    <span *ngIf='apiCall.currentCourse$; else elseBlock'>{{apiCall.currentCourse$[10].teeBoxes[apiCall.currentTee$].par}}</span>
    <ng-template #elseBlock></ng-template>
  </mat-grid-tile>
  <mat-grid-tile class="box">
    <span *ngIf='apiCall.currentCourse$; else elseBlock'>{{apiCall.currentCourse$[11].teeBoxes[apiCall.currentTee$].par}}</span>
    <ng-template #elseBlock></ng-template>
  </mat-grid-tile>
  <mat-grid-tile class="box">
    <span *ngIf='apiCall.currentCourse$; else elseBlock'>{{apiCall.currentCourse$[12].teeBoxes[apiCall.currentTee$].par}}</span>
    <ng-template #elseBlock></ng-template>
  </mat-grid-tile>
  <mat-grid-tile class="box">
    <span *ngIf='apiCall.currentCourse$; else elseBlock'>{{apiCall.currentCourse$[13].teeBoxes[apiCall.currentTee$].par}}</span>
    <ng-template #elseBlock></ng-template>
  </mat-grid-tile>
  <mat-grid-tile class="box">
    <span *ngIf='apiCall.currentCourse$; else elseBlock'>{{apiCall.currentCourse$[14].teeBoxes[apiCall.currentTee$].par}}</span>
    <ng-template #elseBlock></ng-template>
  </mat-grid-tile>
  <mat-grid-tile class="box">
    <span *ngIf='apiCall.currentCourse$; else elseBlock'>{{apiCall.currentCourse$[15].teeBoxes[apiCall.currentTee$].par}}</span>
    <ng-template #elseBlock></ng-template>
  </mat-grid-tile>
  <mat-grid-tile class="box">
    <span *ngIf='apiCall.currentCourse$; else elseBlock'>{{apiCall.currentCourse$[16].teeBoxes[apiCall.currentTee$].par}}</span>
    <ng-template #elseBlock></ng-template>
  </mat-grid-tile>
  <mat-grid-tile class="box">
    <span *ngIf='apiCall.currentCourse$; else elseBlock'>{{apiCall.currentCourse$[17].teeBoxes[apiCall.currentTee$].par}}</span>
    <ng-template #elseBlock></ng-template>
  </mat-grid-tile>
  <mat-grid-tile colspan='2' class="box">In</mat-grid-tile>

  <mat-grid-tile colspan='2' class="box">
    <span *ngIf='apiCall.tees$; else elseBlock'>{{apiCall.tees$[0].par}}</span>
    <ng-template #elseBlock></ng-template>
  </mat-grid-tile>
</mat-grid-list>
<mat-grid-list class='scroll' cols='24' rowHeight="93px">
  <mat-grid-tile class="box">
    <span *ngIf='apiCall.currentCourse$; else elseBlock'>{{apiCall.currentCourse$[0].teeBoxes[apiCall.currentTee$].yards}}</span>
    <ng-template #elseBlock></ng-template>
  </mat-grid-tile>
  <mat-grid-tile class="box">
    <span *ngIf='apiCall.currentCourse$; else elseBlock'>{{apiCall.currentCourse$[1].teeBoxes[apiCall.currentTee$].yards}}</span>
    <ng-template #elseBlock></ng-template>
  </mat-grid-tile>
  <mat-grid-tile class="box">
    <span *ngIf='apiCall.currentCourse$; else elseBlock'>{{apiCall.currentCourse$[2].teeBoxes[apiCall.currentTee$].yards}}</span>
    <ng-template #elseBlock></ng-template>
  </mat-grid-tile>
  <mat-grid-tile class="box">
    <span *ngIf='apiCall.currentCourse$; else elseBlock'>{{apiCall.currentCourse$[3].teeBoxes[apiCall.currentTee$].yards}}</span>
    <ng-template #elseBlock></ng-template>
  </mat-grid-tile>
  <mat-grid-tile class="box">
    <span *ngIf='apiCall.currentCourse$; else elseBlock'>{{apiCall.currentCourse$[4].teeBoxes[apiCall.currentTee$].yards}}</span>
    <ng-template #elseBlock></ng-template>
  </mat-grid-tile>
  <mat-grid-tile class="box">
    <span *ngIf='apiCall.currentCourse$; else elseBlock'>{{apiCall.currentCourse$[5].teeBoxes[apiCall.currentTee$].yards}}</span>
    <ng-template #elseBlock></ng-template>
  </mat-grid-tile>
  <mat-grid-tile class="box">
    <span *ngIf='apiCall.currentCourse$; else elseBlock'>{{apiCall.currentCourse$[6].teeBoxes[apiCall.currentTee$].yards}}</span>
    <ng-template #elseBlock></ng-template>
  </mat-grid-tile>
  <mat-grid-tile class="box">
    <span *ngIf='apiCall.currentCourse$; else elseBlock'>{{apiCall.currentCourse$[7].teeBoxes[apiCall.currentTee$].yards}}</span>
    <ng-template #elseBlock></ng-template>
  </mat-grid-tile>
  <mat-grid-tile class="box">
    <span *ngIf='apiCall.currentCourse$; else elseBlock'>{{apiCall.currentCourse$[8].teeBoxes[apiCall.currentTee$].yards}}</span>
    <ng-template #elseBlock></ng-template>
  </mat-grid-tile>
  <mat-grid-tile colspan='2' class="box">Out</mat-grid-tile>
  <mat-grid-tile class="box">
    <span *ngIf='apiCall.currentCourse$; else elseBlock'>{{apiCall.currentCourse$[9].teeBoxes[apiCall.currentTee$].yards}}</span>
    <ng-template #elseBlock></ng-template>
  </mat-grid-tile>
  <mat-grid-tile class="box">
    <span *ngIf='apiCall.currentCourse$; else elseBlock'>{{apiCall.currentCourse$[10].teeBoxes[apiCall.currentTee$].yards}}</span>
    <ng-template #elseBlock></ng-template>
  </mat-grid-tile>
  <mat-grid-tile class="box">
    <span *ngIf='apiCall.currentCourse$; else elseBlock'>{{apiCall.currentCourse$[11].teeBoxes[apiCall.currentTee$].yards}}</span>
    <ng-template #elseBlock></ng-template>
  </mat-grid-tile>
  <mat-grid-tile class="box">
    <span *ngIf='apiCall.currentCourse$; else elseBlock'>{{apiCall.currentCourse$[12].teeBoxes[apiCall.currentTee$].yards}}</span>
    <ng-template #elseBlock></ng-template>
  </mat-grid-tile>
  <mat-grid-tile class="box">
    <span *ngIf='apiCall.currentCourse$; else elseBlock'>{{apiCall.currentCourse$[13].teeBoxes[apiCall.currentTee$].yards}}</span>
    <ng-template #elseBlock></ng-template>
  </mat-grid-tile>
  <mat-grid-tile class="box">
    <span *ngIf='apiCall.currentCourse$; else elseBlock'>{{apiCall.currentCourse$[14].teeBoxes[apiCall.currentTee$].yards}}</span>
    <ng-template #elseBlock></ng-template>
  </mat-grid-tile>
  <mat-grid-tile class="box">
    <span *ngIf='apiCall.currentCourse$; else elseBlock'>{{apiCall.currentCourse$[15].teeBoxes[apiCall.currentTee$].yards}}</span>
    <ng-template #elseBlock></ng-template>
  </mat-grid-tile>
  <mat-grid-tile class="box">
    <span *ngIf='apiCall.currentCourse$; else elseBlock'>{{apiCall.currentCourse$[16].teeBoxes[apiCall.currentTee$].yards}}</span>
    <ng-template #elseBlock></ng-template>
  </mat-grid-tile>
  <mat-grid-tile class="box">
    <span *ngIf='apiCall.currentCourse$; else elseBlock'>{{apiCall.currentCourse$[17].teeBoxes[apiCall.currentTee$].yards}}</span>
    <ng-template #elseBlock></ng-template>
  </mat-grid-tile>
  <mat-grid-tile colspan='2' class="box">In</mat-grid-tile>
  <mat-grid-tile colspan='2' class="box">Total</mat-grid-tile>
</mat-grid-list>
<mat-grid-list class='scroll' cols='24' rowHeight="93px">
  <mat-grid-tile class="box">
    <span *ngIf='apiCall.currentCourse$; else elseBlock'>{{apiCall.currentCourse$[0].teeBoxes[apiCall.currentTee$].hcp}}</span>
    <ng-template #elseBlock></ng-template>
  </mat-grid-tile>
  <mat-grid-tile class="box">
    <span *ngIf='apiCall.currentCourse$; else elseBlock'>{{apiCall.currentCourse$[1].teeBoxes[apiCall.currentTee$].hcp}}</span>
    <ng-template #elseBlock></ng-template>
  </mat-grid-tile>
  <mat-grid-tile class="box">
    <span *ngIf='apiCall.currentCourse$; else elseBlock'>{{apiCall.currentCourse$[2].teeBoxes[apiCall.currentTee$].hcp}}</span>
    <ng-template #elseBlock></ng-template>
  </mat-grid-tile>
  <mat-grid-tile class="box">
    <span *ngIf='apiCall.currentCourse$; else elseBlock'>{{apiCall.currentCourse$[3].teeBoxes[apiCall.currentTee$].hcp}}</span>
    <ng-template #elseBlock></ng-template>
  </mat-grid-tile>
  <mat-grid-tile class="box">
    <span *ngIf='apiCall.currentCourse$; else elseBlock'>{{apiCall.currentCourse$[4].teeBoxes[apiCall.currentTee$].hcp}}</span>
    <ng-template #elseBlock></ng-template>
  </mat-grid-tile>
  <mat-grid-tile class="box">
    <span *ngIf='apiCall.currentCourse$; else elseBlock'>{{apiCall.currentCourse$[5].teeBoxes[apiCall.currentTee$].hcp}}</span>
    <ng-template #elseBlock></ng-template>
  </mat-grid-tile>
  <mat-grid-tile class="box">
    <span *ngIf='apiCall.currentCourse$; else elseBlock'>{{apiCall.currentCourse$[6].teeBoxes[apiCall.currentTee$].hcp}}</span>
    <ng-template #elseBlock></ng-template>
  </mat-grid-tile>
  <mat-grid-tile class="box">
    <span *ngIf='apiCall.currentCourse$; else elseBlock'>{{apiCall.currentCourse$[7].teeBoxes[apiCall.currentTee$].hcp}}</span>
    <ng-template #elseBlock></ng-template>
  </mat-grid-tile>
  <mat-grid-tile class="box">
    <span *ngIf='apiCall.currentCourse$; else elseBlock'>{{apiCall.currentCourse$[8].teeBoxes[apiCall.currentTee$].hcp}}</span>
    <ng-template #elseBlock></ng-template>
  </mat-grid-tile>
  <mat-grid-tile colspan='2' class="box">Out</mat-grid-tile>
  <mat-grid-tile class="box">
    <span *ngIf='apiCall.currentCourse$; else elseBlock'>{{apiCall.currentCourse$[9].teeBoxes[apiCall.currentTee$].hcp}}</span>
    <ng-template #elseBlock></ng-template>
  </mat-grid-tile>
  <mat-grid-tile class="box">
    <span *ngIf='apiCall.currentCourse$; else elseBlock'>{{apiCall.currentCourse$[10].teeBoxes[apiCall.currentTee$].hcp}}</span>
    <ng-template #elseBlock></ng-template>
  </mat-grid-tile>
  <mat-grid-tile class="box">
    <span *ngIf='apiCall.currentCourse$; else elseBlock'>{{apiCall.currentCourse$[11].teeBoxes[apiCall.currentTee$].hcp}}</span>
    <ng-template #elseBlock></ng-template>
  </mat-grid-tile>
  <mat-grid-tile class="box">
    <span *ngIf='apiCall.currentCourse$; else elseBlock'>{{apiCall.currentCourse$[12].teeBoxes[apiCall.currentTee$].hcp}}</span>
    <ng-template #elseBlock></ng-template>
  </mat-grid-tile>
  <mat-grid-tile class="box">
    <span *ngIf='apiCall.currentCourse$; else elseBlock'>{{apiCall.currentCourse$[13].teeBoxes[apiCall.currentTee$].hcp}}</span>
    <ng-template #elseBlock></ng-template>
  </mat-grid-tile>
  <mat-grid-tile class="box">
    <span *ngIf='apiCall.currentCourse$; else elseBlock'>{{apiCall.currentCourse$[14].teeBoxes[apiCall.currentTee$].hcp}}</span>
    <ng-template #elseBlock></ng-template>
  </mat-grid-tile>
  <mat-grid-tile class="box">
    <span *ngIf='apiCall.currentCourse$; else elseBlock'>{{apiCall.currentCourse$[15].teeBoxes[apiCall.currentTee$].hcp}}</span>
    <ng-template #elseBlock></ng-template>
  </mat-grid-tile>
  <mat-grid-tile class="box">
    <span *ngIf='apiCall.currentCourse$; else elseBlock'>{{apiCall.currentCourse$[16].teeBoxes[apiCall.currentTee$].hcp}}</span>
    <ng-template #elseBlock></ng-template>
  </mat-grid-tile>
  <mat-grid-tile class="box">
    <span *ngIf='apiCall.currentCourse$; else elseBlock'>{{apiCall.currentCourse$[17].teeBoxes[apiCall.currentTee$].hcp}}</span>
    <ng-template #elseBlock></ng-template>
  </mat-grid-tile>
  <mat-grid-tile colspan='2' class="box">In</mat-grid-tile>
  <mat-grid-tile colspan='2' class="box">Total</mat-grid-tile>
</mat-grid-list>
