
  .scroll {
    width: 5000px;

  }
  .mat-grid-tile {
    width: 100%;

  }
.box {
  border-bottom: 1px solid black;
  border-radius: 10px;
  background-color: rgb(197, 215, 234);
  input {
    height: 100%;
    width: 100%;
    border: none;
    text-align: center;
    font-size: 1.4em;
  }
}

