@use '~@angular/material' as mat;
.mat-toolbar-row {
  height: 10vh;
  box-sizing: border-box;
  font-size: 1.2em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

    @include mat.elevation(5);

}
button {
  border-radius: 40px;
}
