<div id="table-contain" class="table-container">
  <div class="non-scroll">
    <mat-grid-list cols="1" rowHeight="10vh">
      <mat-grid-tile class="box"></mat-grid-tile>
      <mat-grid-tile class="box">Name</mat-grid-tile>
      <mat-grid-tile class="box">Name</mat-grid-tile>
      <mat-grid-tile class="box">Name</mat-grid-tile>
      <mat-grid-tile class="box">Name</mat-grid-tile>
      <mat-grid-tile class="box">Name</mat-grid-tile>
      <mat-grid-tile class="box">Name</mat-grid-tile>
      <mat-grid-tile class="box">Name</mat-grid-tile>
    </mat-grid-list>

  </div>
  <div class="scrolling">
  <mat-grid-list class='scroll' cols='24' rowHeight="10vh">
    <mat-grid-tile class="box">1</mat-grid-tile>
    <mat-grid-tile class="box">2</mat-grid-tile>
    <mat-grid-tile class="box">3</mat-grid-tile>
    <mat-grid-tile class="box">4</mat-grid-tile>
    <mat-grid-tile class="box">5</mat-grid-tile>
    <mat-grid-tile class="box">6</mat-grid-tile>
    <mat-grid-tile class="box">7</mat-grid-tile>
    <mat-grid-tile class="box">8</mat-grid-tile>
    <mat-grid-tile class="box">9</mat-grid-tile>
    <mat-grid-tile colspan='2' class="box">Out</mat-grid-tile>
    <mat-grid-tile class="box">10</mat-grid-tile>
    <mat-grid-tile class="box">11</mat-grid-tile>
    <mat-grid-tile class="box">12</mat-grid-tile>
    <mat-grid-tile class="box">13</mat-grid-tile>
    <mat-grid-tile class="box">14</mat-grid-tile>
    <mat-grid-tile class="box">15</mat-grid-tile>
    <mat-grid-tile class="box">16</mat-grid-tile>
    <mat-grid-tile class="box">17</mat-grid-tile>
    <mat-grid-tile class="box">18</mat-grid-tile>
    <mat-grid-tile colspan='2' class="box">In</mat-grid-tile>
    <mat-grid-tile colspan='2' class="box">Total</mat-grid-tile>
  </mat-grid-list>
</div>
</div>
