.table-container {
  max-height: 80vh;

  display: flex;



  padding: 0;
  margin: 0;
  .non-scroll {
    width: 8.5%;
    min-width: 90px;
    background-color: white;
    padding-bottom: 1%;
    // box-sizing: border-box;
  }
  .scrolling {
   overflow-x: scroll;
    width:91.5%;
    height: 100%;




  }
  .scroll {
    background-color: white;
   
  }
  .mat-grid-list {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .mat-grid-list.scroll {
    width: 5000px;

  }
  .mat-grid-tile {
    width: 100%;
    padding: 0;
    margin: 0;



  }
}


.box {
  // border-bottom: 1px solid black;
  border-radius: 10px;
  background-color: lightcyan;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid black;


  input {
    height: 100%;
    width: 100%;
    border: none;
    text-align: center;
    font-size: 1.4em;
    margin: 0;


  }
  input:focus,
  select:focus,
  textarea:focus,
  button:focus {
    background-color: rgb(222, 249, 255);
    outline: none;
    margin: 0;
    padding: 0;


  }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    padding: 0;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
.out {
  background-color: rgb(246, 246, 246);
  border-bottom: 1px solid black;


}
