@use '~@angular/material' as mat;

.mat-toolbar {
  background-color: rgb(137, 113, 255);
  display: flex;
  border: 2px solid rgb(138, 111, 193);
  @include mat.elevation(3);

  .mat-toolbar-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .mat-button {
    border-radius: 20px;
    @include mat.elevation(2);
  }
}
.mat-list {
  background-color: green;
  position: relative;
  margin-top: 10vh;


  
}
