<mat-toolbar>
  <mat-toolbar-row>
    <h1>{{title}}</h1>
    <span></span>
    <span></span>
    <div>
      <button mat-button [matMenuTriggerFor]= 'menu'>Choose Course</button>
        <mat-menu #menu='matMenu'>
          <button mat-button *ngFor="let course of courseList" (click)="chooseCourse(course.id)">{{course.name}}</button>
        </mat-menu>
        <button mat-button [matMenuTriggerFor]= 'menu2'>Choose Tee</button>
        <mat-menu #menu2='matMenu'>
          <button mat-button (click)='chooseTee(0)'>Black</button>
          <button mat-button (click)='chooseTee(1)'>Blue</button>
          <button mat-button (click)='chooseTee(2)'>White</button>
          <button mat-button (click)='chooseTee(3)'>Red</button>
        </mat-menu>
    </div>
  </mat-toolbar-row>

</mat-toolbar>
