<mat-toolbar>
  <mat-toolbar-row>
    <h1>{{title}}</h1>
    <span></span>
    <span></span>
    <div>
      <button mat-button (click)='showList()'>Choose Course</button>
      <mat-list *ngIf='displayList'>
        <mat-list-item *ngFor="let course of courseList" (click)="chooseCourse(course.id)">{{course.name}}</mat-list-item>
      </mat-list>
    </div>
    <div>

      <button mat-button>Choose Tee</button>
    </div>
    <!-- <mat-form-field appearance="fill">
      <mat-label>Choose a Course</mat-label>
      <mat-select [(value)]="selected" >
        <mat-option *ngFor="let course of courseList" [value]="course.id">{{course.name}}</mat-option>
      </mat-select>
    </mat-form-field> -->
    <p>you selected {{selected}}</p>
  </mat-toolbar-row>

</mat-toolbar>
